.header {
  font-family: "Ibarra Real Nova", serif;
  position: fixed;
  
  padding: 0px 24px;
  margin: 0px auto;
  max-height: 60px;
  display: flex;

  top: 0px;
  left: 0px;
  right: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section_one {
  margin: auto;
  color: black;
  font-size: 20px;
  justify-items: flex-start;
  flex: 1 1 0%;
  font-family: "Zen Tokyo Zoo", cursive;
}

.logoContainer {
  font-family: "Zen Tokyo Zoo", cursive;
  margin: 0px 0px 0px 30px;
  /* text-transform: uppercase; */
  padding: 0;
  box-sizing: border-box;
}

.logoContainer a {
  padding: 0px 20px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-family: "Baskerville";
}

/* .asciiArt {
  font-family: monospace;
  white-space: pre;
} */

.section_two {
  margin: auto;
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
}

.section_two a {
  color: black;
  font-size: 10px;
  padding: 0px 16px;
  margin: 16px 0px;
  text-decoration: none;
  /* transition: all 0.5s ease 0s; */
  cursor: pointer;
  position: relative;
  font-weight: 600;
  letter-spacing: -1px;
  font-family: "Baskerville";
}

/* .section_two :hover {

} */

.section_two a:hover::after {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 0%;
  border: 1px solid black;
  /* transition: all 0.5s ease 0s; */
  /* margin: 0px auto; */
  /* border-bottom: 1px solid black; */
}

.darkModeToggler {
  background-color: green;
  margin: auto 0px;
  width: 30px;
  height: 15px;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 2px;
}

.darkModeTogglerIcon {
  background-color: black;
  height: calc(100%);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}
  