.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  margin: 0;
  width: 100%;
  /* background-color: rgb(32, 203, 255); */
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 100px;
}

.tablink {
  background-color: transparent;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: 1000;
  /* font-family: Helvetica; */
}

.tablink:hover {
  border-top: 2px solid black;
  color: gray;
}

.section_two {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  color: black;
  font-size: 20px;
  font-weight: 1000;
}
  